doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    base(href="/")
    title <%= websiteName %>
    // bower:css 
    // endinject 
    // inject:css 
    // endinject 
  body
    .welcome Welcome to <%= websiteName %>!

  // bower:js
  // endinject 
  // inject:js 
  // endinject 